<!DOCTYPE html>
<html data-wf-domain="ignatius-school.webflow.io" data-wf-page="65e1c0c2fd61a5053f5c7bd2"
    data-wf-site="65e1c0c2fd61a5053f5c7bc9" lang="en">

<head>
    <meta charset="utf-8" />
    <title>TTrainer.org - Home Page</title>
    
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
        href="assests/css/style.css"
        rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">WebFont.load({ google: { families: ["Crimson Pro:300,500"] } });</script>
    <script
        type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
    <link href=""
        rel="shortcut icon" type="image/x-icon" />
    <link href=""
        rel="apple-touch-icon" />
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
        }
    </style>
</head>

<body>
    <nav class="nav">
        <div class="w-layout-blockcontainer container w-container">
            <div class="nav-wrapper"><a href="/views/index.html" aria-current="page" class="nav-logo-wrapper w-inline-block w--current">
                    <div class="nav-logo-text">TTrainer.org</div>
                </a>
                <div class="nav-menu-items-wrapper"><a href="index.html" class="nav-menu-item">Home</a>
                    <a href="/views/about.html" class="nav-menu-item">About us</a>
                       
                    <div data-hover="false" data-delay="0" class="nav-menu-dropdown w-dropdown">
                        <div class="nav-menu-dropdown-toggle w-dropdown-toggle">
                            <div class="regular-m">Our Services</div>
                            <img
                                src="assests/svg/Down.svg"
                                loading="lazy" alt="" class="icon-size-16" />
                        </div>
                        <nav class="nav-menu-dropdown-list w-dropdown-list">
                            <div class="nav-menu-dropdown-list-links">
                                <a href="/views/course.html"
                                    class="nav-menu-item">Teacher Training Program</a>
                                    <a href="/views/course.html"
                                    class="nav-menu-item">Advanced Intraperosnal Skills Developmemnt</a><a
                                    href="/view/course.html" class="nav-menu-item">Education Leadership</a></div>
                        </nav>
                    </div><a href="/views/news-events.html" class="nav-menu-item">News &amp; Events</a>
                    <a href="/views/contact-us.html"
                        class="nav-menu-item">Contact Us</a>
                        <a href="/views/contact-us.html" class="nav-menu-item">Teacher's Help Line</a>
                </div>
                <div class="menu-icon-wrapper open"><img
                        src="assests/svg/menu.svg"
                        loading="lazy" alt="Menu" class="icon-size-28" /></div>
            </div>
        </div>
        <div class="nav-adaptation">
            <div class="nav-wrapper adaptation"><a href="/views/index.html" aria-current="page"
                    class="nav-logo-wrapper w-inline-block w--current">
                    <div class="nav-logo-text">TTrainer.org</div>
                </a>
                <div class="menu-icon-wrapper close"><img
                        src="assests/svg/cross.svg"
                        loading="lazy" alt="Close" class="icon-size-28" /></div>
            </div>
            <div class="nav-adaptation-content">
                <div class="nav-adaptation-links">
                    <a href="index.html" class="nav-adaptation-link">Home</a><a
                        href="/views/about.html" class="nav-adaptation-link">About Us</a>
                        <div class="regular-xl">Academics</div><img
                            src="assests/svg/Down.svg"
                            loading="lazy" alt="" class="icon-size-20" />
                    </a>
                    <div class="nav-menu-dropdown-list adaptation">
                        <div class="nav-menu-dropdown-list-links adaptation">
                            <a href="/views/course.html"
                                class="nav-menu-item">Teacher Trainig Program</a>
                                <a href="/views/course.html"
                                class="nav-menu-item">Advanced Intra-perosnal skill development</a><a
                                href="/views/course.html" class="nav-menu-item">educational Leadership</a>
                        </div>
                    </div><a href="/views/news-events.html" class="nav-adaptation-link">News &amp; Events</a><a href="/views/contact-us.html"
                        class="nav-adaptation-link">Contact Us</a>
                </div>
                <div class="footer-legal">
                    <div class="regular-s color-grey-80">© 2024, All Rights Reserved</div><a href="/licenses"
                        class="regular-s color-grey-80 legal-link">Licenses</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <main class="hero-content">
            <div class="w-layout-blockcontainer container hero internal w-container">
                <div class="hero-section-content">
                    <div class="hero-section-content-block internal bg-light-blue">
                        <div class="wrapper max-width-640-mobile-480">
                            <h1 class="h1 margin-bottom-28">Revealing Our Dedication to Excellence</h1>
                            <p class="regular-xl max-width-420">As an esteemed institution with a rich legacy, we are
                                dedicated to providing an exceptional educational experience.</p>
                        </div><a href="#" class="button primary w-button">Contact Us</a>
                    </div>
                    <div class="hero-section-image internal about"></div>
                </div>
            </div>
        </main>
    </section>
    <section class="section margin-top-64-tablet-48-mobile-24">
        <div class="w-layout-blockcontainer container w-container">
            <div class="banner-type-two bg-purple">
                <div class="wrapper max-width-880-tablet-640-mobile-480">
                    <p class="banner-heading">If you see achild without smile, then give it yours</p>
                </div>
                <div class="wrapper">
                    <div class="line black margin-bottom-12"></div>
                    <div class="regular-l">The motto of TTrainer.org</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section margin-top-176-mobile-144">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-grid text-grid-type-one">
                <div id="w-node-f3fe9960-dec0-8102-2d06-825e863e8c26-05cd89f9" class="wrapper max-width-432">
                    <h2 class="h2 margin-bottom-32-tablet-24">About TTrainer</h2>
                </div>
                <p id="w-node-_9a654090-b788-ca5a-491b-bc720bea8e77-05cd89f9" class="regular-l">
TTrainer is a not-for-profit organization committed to cultivating skilled and effective teachers in line with the guidelines set forth by the National Education Policy (NEP) 2020. Our mission is to enhance the quality of education by providing comprehensive training programs that equip educators with the knowledge and skills necessary to excel in modern teaching environments.
                    <br><br>
                    Our training programs are offered both offline and online, ensuring accessibility and flexibility for educators across various regions. By leveraging a blend of traditional and digital learning methods, we strive to create a robust and adaptable learning experience.
                    <br><br>
                    At tTrainer, we believe in the power of community. Our supportive network of trainers and educators fosters collaboration, continuous professional development, and a shared commitment to educational excellence. Through our specialized training and community-building efforts, we aim to empower teachers to inspire and educate future generations effectively.</p>
            </div>
        </div>
    </section>
    <section class="section margin-top-176-mobile-144">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-grid images-grid"><img
                    src="https://assets-global.website-files.com/65e1c0c2fd61a5053f5c7bc9/65e5e149e8537b3117bd6bbd_wander-fleur-1lmGTHdQdjM-unsplash-min.webp"
                    loading="lazy" id="w-node-_5ac82391-55b3-01fa-bf8f-8dc3df011d6e-05cd89f9"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 90vw, 92vw"
                    class="images-grid-image-1" /><img
                    src="https://assets-global.website-files.com/65e1c0c2fd61a5053f5c7bc9/65e5e149ca8e5dec4c5244e9_m-monk-E813FON0wDQ-unsplash-min.webp"
                    loading="lazy" id="w-node-_799666a1-2eba-c7b5-74e0-d943ddb227a1-05cd89f9"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 90vw, 92vw"
                    class="images-grid-image-2" /><img
                    src="https://assets-global.website-files.com/65e1c0c2fd61a5053f5c7bc9/65e5e14904d71d4c46f575f2_richard-vance-cabusao-adQAb-L-YkE-unsplash-min.webp"
                    loading="lazy" id="w-node-fc93beb0-fac9-c8cf-7a00-31901a7a2bfe-05cd89f9"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 90vw, 92vw"
                    class="images-grid-image-3" /></div>
        </div>
    </section>
    <section class="section margin-top-176-mobile-144">
        <div class="w-layout-blockcontainer container w-container">
            <h2 class="h2 max-width-432-mobile-320 margin-bottom-56">Individual Attention For Every Student</h2>
            <div class="w-layout-grid blocks-grid-2-tablet-1-mobile-1">
                <div id="w-node-c828a7b6-aa92-7063-9419-21ff500cb565-05cd89f9"
                    class="block padding-24-32 bg-light-yellow-green"><img
                        src=""
                        loading="lazy" alt="" class="icon-size-40 margin-bottom-32" />
                    <div class="wrapper max-width-640 width-100">
                        <h4 class="h4 margin-bottom-24">A fundamental program for teachers.</h4>
                        <div class="line black margin-bottom-20"></div>
                        <p class="regular-m">TTrainer's Fundamental Program for Teachers is a comprehensive course designed to equip educators with essential skills and knowledge in alignment with the NEP 2020 guidelines. This program aims to enhance teaching effectiveness through a balanced mix of offline and online training, fostering a supportive community of educators.</p>
                    </div>
                </div>
                <div class="block padding-24-32 bg-light-yellow-green"><img
                        src="assests/svg/books.svg"
                        loading="lazy" alt="" class="icon-size-40 margin-bottom-32" />
                    <div class="wrapper max-width-640 width-100">
                        <h4 class="h4 margin-bottom-24">Free Content Library and Download.</h4>
                        <div class="line black margin-bottom-20"></div>
                        <p class="regular-l">The focus of the Library Information Centre at TTrainer
                            is to encourage our teachers to become information literate and lifelong learners. The
                            library is fully automated and secure. Students and staff are encouraged to use the library
                            for academic purposes. The focus of the library information centre is to teach students to
                            research efficiently and effectively.</p>
                    </div>
                </div>
                <div class="block padding-24-32 bg-light-yellow-green"><img
                        src="assests/svg/files.svg"
                        loading="lazy" alt="" class="icon-size-40 margin-bottom-32" />
                    <div class="wrapper max-width-640 width-100">
                        <h4 class="h4 margin-bottom-24">Advanced program for trained teachers</h4>
                        <div class="line black margin-bottom-20"></div>
                        <p class="regular-l">At TTrainer, students who need additional academic
                            support can access the services of the Resource Department, which assists students in
                            variety of ways: working with students within a classroom, providing a place to write tests
                            and exams in a smaller setting, offering the Learning Strategies course, and developing
                            students’ reading levels.</p>
                    </div>
                </div>
                <div class="block padding-24-32 bg-light-yellow-green"><img
                        src="assests/svg/prize.svg"
                        loading="lazy" alt="" class="icon-size-40 margin-bottom-32" />
                    <div class="wrapper max-width-640 width-100">
                        <h4 class="h4 margin-bottom-24">Inperson program for rook teachers</h4>
                        <div class="line black margin-bottom-20"></div>
                        <p class="regular-l"> In-Person Program for Rookie Teachers is specifically designed to support new educators as they embark on their teaching careers. This immersive program provides hands-on training, practical experience, and personalized mentorship to ensure that rookie teachers are well-prepared to thrive in the classroom.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section margin-top-176-mobile-144">
        <div class="w-layout-blockcontainer container w-container">
            <div class="banner-type-one">
                <div class="banner-type-one-content bg-light-yellow">
                    <div class="wrapper max-width-880-tablet-640-mobile-480">
                        <p class="banner-heading">We’re Always Here For You. Contact Us for Assistance</p>
                    </div><a href="/views/contact-us.html" class="button primary w-button">Contact Us</a>
                </div>
                <div class="banner-type-one-pattern contact-banner"></div>
            </div>
        </div>
    </section>
    <section class="footer margin-top-176-mobile-144">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-grid footer-content-grid">
                <div id="w-node-a131b771-2a49-3f3f-ead4-9cb52dab318c-2dab3189" class="footer-block">
                    <div class="wrapper">
                        <div class="regular-m margin-bottom-16">TTrainer.org</div>
                        <div class="line black"></div>
                    </div>
                    <div class="footer-block-links"><a href="#" class="regular-m footer-link">About</a><a
                            href="#" class="regular-m footer-link">Services</a><a href="#""
                            class="regular-m footer-link">Admissions</a><a href="#"
                            class="regular-m footer-link">News &amp; Events</a><a href="#"
                            class="regular-m footer-link">Contact Us</a></div>
                </div>
                <div class="footer-block">
                    <div class="wrapper">
                        <div class="regular-m margin-bottom-16">Our Programs</div>
                        <div class="line black"></div>
                    </div>
                    <div class="footer-block-links"><a href="#"
                            class="regular-m footer-link">Teacher Trainer Program</a><a href="#"
                            class="regular-m footer-link">Advanced Skill development Program</a><a
                            href="#" class="regular-m footer-link">Teachers HelpLine
                            Program</a></div>
                </div>
                <div id="w-node-a131b771-2a49-3f3f-ead4-9cb52dab31a8-2dab3189" class="footer-block">
                    <div class="wrapper">
                        <div class="regular-m margin-bottom-16">Follow Us</div>
                        <div class="line black"></div>
                    </div>
                    <div class="footer-block-links socials"><a href="https://www.facebook.com/" target="_blank"
                            class="regular-m footer-link">LinkedIn</a><a href="https://twitter.com/home" target="_blank"
                            class="regular-m footer-link">Twitter</a><a href="https://www.youtube.com/" target="_blank"
                            class="regular-m footer-link">YouTube</a><a href="https://www.instagram.com/"
                            target="_blank" class="regular-m footer-link">Instagram</a></div>
                </div>
            </div>
            <div class="footer-legal">
                <div class="regular-s color-grey-80">© 2024, All Rights Reserved</div><a href="/licenses"
                    class="regular-s color-grey-80 legal-link">Licenses</a>
            </div>
        </div>
    </section>
    <script src="assests/js/main.js"
        type="text/javascript" 
        crossorigin="anonymous"></script>
    <script src="assests/js/index.js"
        type="text/javascript"></script>
        <script>
            $(document).ready(function() {$(".w-webflow-badge").removeClass("w-webflow-badge").empty(); });
        </script>
</body>

</html>
